<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
	<settings>
		<!-- 全局的映射器启用或禁用缓存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 自增键启用 -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 全局启用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 设置超时时间，它决定驱动等待一个数据库相应的时间 -->
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<!-- 设置别名 -->
	<typeAliases>
		<typeAlias alias="role" type="com.szk.vo.Role" />
	</typeAliases>
	
	<!-- 指定映射器路径 -->
	<mappers>
		<mapper class="com.szk.mapper.RoleMapper" />
	</mappers>
	
</configuration>